// center body on big screens
body {
    max-width: $side-bar-desktop + $content-width;
    margin: 0 auto;
}

/**
 * Site header
 */
.site-header {
    width: $side-bar-desktop;
    height: $header-height;
    position: fixed;
    background: $background-color;
    z-index: 10;

    @include media-query($on-desktop) {
        width: 100vw;
    }
}

// Side-bar
.side-bar {
    height: 100vh;
    position: fixed;
    width: $side-bar-desktop;
    top: $header-height;
    background: $background-color;
    padding-top: $spacing-unit;
    z-index: 9;

    @include media-query($on-desktop) {
        @include transition( all $menu-animation-time);
        @include transform( translate3d(-100%, 0, 0) );

        &::before {
            content: " ";
            width: $on-desktop;
            height: 100vh;
            background: #ffffff8a;
            position: fixed;
            display: none;
            top: 0;

            .open-menu & {
                right: -$on-desktop;
                display: block;
            }
        }
    }
    .open-menu & {
        visibility: visible;
        @include transition( transform $menu-animation-time);
        @include transform( translate3d(0%, 0, 0) );
   }
}

main, footer {
    padding-left: 300px;
    &.clear {
        padding: 0;
    }

    @include media-query($on-desktop) {
        padding-left: 0;
    }
}

.menu-items {
    list-style-type: none;
    margin-left: 10px;

    a {
        display: inline;
        color: inherit;
    }
    &>li {
        margin-bottom: 15px;
    }
    & li::before {
        content: "/";
        right: 10px;
        position: relative;
    }
    ul {
        list-style-type: none;
        > li::before {
            content: "#";
            //content: "~";
            font-size: 0.8em;
        }
    }
}

.site-title {
  @include relative-font-size(1.9);
  font-weight: 800;
  line-height: $base-line-height * $base-font-size * 2.8;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  position: relative;

  svg {
    position: absolute;
    bottom: 18px;
    right: -6px;
    fill: $grey-color-dark;
    background-color: $background-color ;
    padding: 10px 1px 0 1px;
  }

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.menu-button {
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    float: right;
    margin: 10px;
    margin-right: 0;
    display: none;

    .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center;
    }

    #icon-burger {
        fill: $grey-color-dark;
        .open-menu & {
            display: none;
        }
    }

    #icon-close {
        stroke: $grey-color-dark;
        display: none;
        .open-menu & {
            display: inline;
        }
    }


    @include media-query($on-desktop) {
        display: block;
    }
}

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-light;
  padding-top: $spacing-unit;
  padding-bottom: $spacing-unit;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin: 0;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $grey-color;
  margin-left: -$spacing-unit / 2;
  margin-top: $spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Page content
 */
.page-content {
    padding-top: $header-height+$spacing-unit;
    flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta, .text-detail {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

.center {
    text-align: center;
}

.headBanner {
    display: flex;
    padding: 40px;
    margin-bottom: 40px;
}
.vorspiell2021 {
    justify-content: center;
    background-color: #333;
    color: #fff;
    font-weight: 600;
    font-size: 25px;
    background-image: url('/assets/media/img/header.png');
    background-size: cover;
    background-position: center;

    &:hover {
    
    }
}
