article {
    max-width: $article-width;

    img {
        width: 100%;
        float: left;
        box-sizing: border-box;
        margin-left: 4%;
        margin-bottom: 4%;
        &:first-child {
            margin-left: 0;
        }

        &.modal {
            position: fixed;
            margin: 0;
            top: 50vh;
            left: 50vw;
            z-index: 20;
            max-width: $on-palm;
            width: 96vw;
            height: auto;
            transform: translate(-50%, -50%);
            //box-shadow: 0 3px 5px #0000004d;
        }

    }

    &.modal::after {
        content: "";
        background: #ffffffb9;
        position: fixed;
        z-index: 19;
        top: 0;
        left: 0;
        width: 100vw;
        height: 101vh;
        display: block;
        //backdrop-filter: blur(8px);
    }

    .img-clear {
        margin-left: 0;
    }

    p {
        @extend %clearfix;
    }

    video {
        display: block;
        width:100%;
        height:auto;
        margin-bottom: 4%;
    }

    hr {
        margin: $spacing-unit 0;
    }
}


.img-col-1 { width: 4.66666666667%; }
.img-col-2 { width: 13.3333333333%; }
.img-col-3 { width: 22%; }
.img-col-4 { width: 30.6666666667%; }
.img-col-5 { width: 39.3333333333%; }
.img-col-6 { width: 48%; }
.img-col-7 { width: 56.6666666667% }
.img-col-8 { width: 65.3333333333%; }
.img-col-9 { width: 74.0%; }
.img-col-10 { width: 82.6666666667%; }
.img-col-11 { width: 91.3333333333%; }
.img-col-12 { width: 100%; margin-left: 0; }

.img-max-sm { width: 100%; max-width: 200px; }

.img-max-md { width: 100%; max-width: 400px; }


.video-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.video-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.weblink {
    padding: 10px 10px;
    background: #e7e7e7;
    margin: 30px 0;
    display: block;
    max-width: 500px;
}
