---
layout: default
---
{{ content }}
<div class="gallery-grid">
    {% for post in site.works reversed %}
    {%- assign post_url = post.redirect | default: post.url -%}
    <a class="grid-element filter {{post.categories | join: " "}}" href="{{ post_url | relative_url }}" style="background-image: url({{page.base_url}}{{post.thumbnail}})">
        {%- assign date_format = site.minima.date_format | default: "%b %Y" -%}
        <div class="post-thumb-data">
            <span>{{ post.title | scape }}</span>
            <span class="post-meta">{{ post.date | date: date_format }}</span>
        </div>
    </a>
    {%- endfor -%}
</div>
